@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --LIGHT_BLUE: #009AB7;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box !important;
}

body {
    font-family: 'Pretendard', sans-serif;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 75px;
    }

    100% {
        width: 0;
    }
}

.typing-more-easy {
    color: transparent;
    white-space: nowrap;
}

.typing-more-easy:after {
    content: "더 쉽게.";
    position: absolute;
    color: var(--LIGHT_BLUE);
    overflow: hidden;
    border-right: var(--LIGHT_BLUE);
    animation: typing 2s steps(2) infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: gray; }
}

.gnb {
    @apply min-h-[72px] h-[72px] w-full bg-white flex justify-center rounded-t-[15px] drop-shadow-lg;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.025);
}

.input-box {
    @apply border border-[1px] border-[#E3E3E3] rounded-[6px] drop-shadow-sm flex items-center;
}


input::placeholder {
    color: #CACACA;
}
input::-webkit-input-placeholder {
    color: #CACACA;
}
input::-ms-input-placeholder {
    color: #CACACA;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

input[type='number'] {
     -moz-appearance: textfield;
 }

.col {
    @apply flex flex-col;
}

.all-center {
    @apply items-center justify-center;
}

.gray-bg {
    background: rgba(30, 34, 41, 0.0392);
}

.announcer-radius {
    @apply rounded-tl-[30px] rounded-tr-[30px];
}

.announcer-body {
    @apply absolute bottom-0 w-full left-0 min-h-[180px] h-[180px] announcer-radius col p-[16px];
}

.kmj {
    background: #D2FF72;
    background: linear-gradient(to right, #D2FF72 0%, #7E9944 50%, #D2FF72 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sdh {
    background: #4D90FE;
    background: linear-gradient(to right, #4D90FE 0%, #1F3457 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.egc {
    background: rgb(239,90,111);
    background: -webkit-linear-gradient(90deg, rgba(239,90,111,1) 31%, rgba(255,0,36,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.announcer-body__background {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
}

.task-body {
    @apply flex flex-col bg-white rounded-bl-[30px] rounded-br-[30px] p-[16px];
}

.task-body__shadow {
    box-shadow:  0px 12px 20px rgba(193, 193, 193, 0.2),
    -24px -24px 31px rgba(255, 255, 255, 0.1);
}
